<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ shop.name }} - {{ page_title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
    {% if settings.favicon_image %}
      <link rel="icon" href="{{ settings.favicon_image | img_url: '32x32' }}" type="image/png">
    {% endif %}
  </head>
  <body class="{% if settings.enable_dark_mode %}theme-dark{% else %}theme-light{% endif %}">
    {% section 'header' %}
    <main id="MainContent">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </body>
</html>