{% comment %} Mythic Blog Landing Page {% endcomment %}
<h1>{{ blog.title }}</h1>
<div class="blog-featured">
  {% render 'blog-featured', blog: blog %}
</div>
<div class="blog-list">
  {% for article in blog.articles %}
    <div class="blog-card">
      <a href="{{ article.url }}">
        {% if article.image %}<img src="{{ article.image | img_url: '400x' }}" alt="{{ article.title }}">{% endif %}
        <h2>{{ article.title }}</h2>
        <div class="blog-meta">{{ article.author }} &middot; {{ article.published_at | date: "%b %d, %Y" }}</div>
        <div class="blog-excerpt">{{ article.excerpt | strip_html | truncate: 110 }}</div>
      </a>
    </div>
  {% endfor %}
</div>