{% comment %} Search Results Page {% endcomment %}
<div class="search-main">
  <h1>Search Results for "{{ search.terms }}"</h1>
  {% if search.results_count > 0 %}
    <div class="search-results">
      {% for item in search.results %}
        <div class="search-result">
          <a href="{{ item.url }}">
            {% if item.featured_image %}<img src="{{ item.featured_image | img_url: '100x' }}" alt="{{ item.title }}">{% endif %}
            <span>{{ item.title }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="no-results">No results found.</div>
  {% endif %}
</div>